@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

   
    font-family: 'Poppins', sans-serif;
}
h1,h2,p,h3, ul{
    color:#ffffff;
}


header {
    background-color: #274a61;
    color: #fff;
    position: fixed;
    top: 0;
    left:0;
    text-align: left; /* Align buttons to the left */
}
.header-element{
    background-color:#ffffff ;

    display: flex;
    position: relative;
    justify-content: left;
    padding-top: 25px;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    right:0;
    left:0;
    z-index:1;

}

.notification-fixed{
    border-bottom: 2px solid #274061;
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 0;
    position: fixed;
    top:0;
    right:0;
    left:0;
    padding-top: 10px;
    z-index:1;


}

.middle-header{
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: auto;
    padding:20px;
    

}

.accounts {
    display: inline-block;
    align-items: center;
    justify-content: right;
    padding-right:20px;
    padding-top:20px;
    margin-right: 30px;
    margin-left: auto;
}

.buttons{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.logo-left{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left:20px;

}


    




.signin-button,
.join-button, .cources, .doc, .support{
    background-color: #fff;
    color:#274a61;
    padding: 8px 15px;
    margin-right: 10px; /* Add margin to the right of buttons for spacing */
    border: none;
    border-radius: 4px;
    cursor: pointer;

}
.cources:hover, .doc:hover, .support:hover, .signin-button:hover, .join-button:hover{
    background-color: #57bcff;
    transition: 0.3s ease-in-out;
}
.button{
background-color: #274a61;
color:#fff;

}


.join{
    background-color: #0888ff;
    color:#fff;

}

.main{
    padding:30px;

}


.main-bg{ 
  margin-top:65px;    
  padding: 20px;
  background-color:#274a61;
  
  }
 
.row{
    padding-top:60px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    
}
.img-bg2 img{
    width:100%;
}
.col2{
    flex-basis: 50%;
    min-width: 200px;

}
.col2 img{
   width: 100%;
    padding:10px;
    max-height: 500px;
   
    

}
.img{
    height:100px;
}

#get-started{
 text-align: center;
 padding-top:30px;
 background-color: #d4d8db;
 
}
#get-started h1{
  color: #274a61;
   font-size: 30px;


}
#get-started ul{
color:#274a61; font-weight: 800;padding: 20px; margin-left: 20px; text-align: justify; font-size: large; 
}
#get-started h3{color: #274a61; text-decoration:none;  text-align:left;margin-left: 20px; font-size:25px }
#get-started p{
color: #274a61;text-align: justify;padding:20px;font-weight: 800; font-size: large;}
 footer {
    background-color: #274a61;
    color: #fff;
    text-align: center;
    position: relative;
    padding: 15px;
    bottom: 0;
    width: 100%;
  }



#features{
    padding-left:20px;


}
.get-btn{
    margin:25px;
}


.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .social-icons li {
    display: inline-block;
  }

  .social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
  }
  
 
.dropdown {
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #274a61;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(80, 75, 75, 0.2);
  border-radius: 20px;
  border: 2px solid rgb(226, 226, 226);
}

.dropdown-content .icon_badge{
  color:#fff;
  font-size: 15px;
  font-weight: 700;
 justify-content: center;
 align-items: center;
 background-color: #fc1f1f;
 padding:3px 5px;
 border-radius: 50%;
 text-decoration: none;
 





}
.dropdown-content a {
  float: none;
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  padding:10px;
  display: block;
  text-align: left;
  white-space: nowrap; /* Prevent text from wrapping */
}

.dropdown-content a:hover {
  background-color: #6c797a;
  border-radius: 20px;
}

#pledge{
  font-size: 25px;
}

.mobile-accounts{
  display: none;


}
.resendbtn-spinner{
    animation: animate 1s ease infinite;
  
  }
  @keyframes animate {
    0%{transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn)
  }
  
  }

  @media (min-width: 700px) and (max-width: 900px) {
    .notification-container{
      font-size: 13px;
    }

    .logo-left h1{
      font-size: 20px;
      padding:5px;
      white-space: nowrap;
     

  }

  .middle-header button{
      font-size: 13px; 
      white-space: nowrap;
     
}
.buttons .join-button{
  font-size: 10px;

}



.buttons p{
  font-size:13px;
  padding-right: 20px;
}
.buttons a{
  font-size: 14px;

}


  
.main h1{
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
 
 }
 .main h2{
  font-size: 20px;
  
 
 }
 #get-started h1 {
  font-size: 25px;

}
#get-started p{
  font-size: 18px;


}
#get-started h3{
  font-size: 20px;;
}

#get-started ul{
  font-size: 15px;
}

  }
  #pledge{
    font-size: 18px;

  }







  


  



  @media (min-width: 350px) and (max-width: 700px) {
    .notification-container{
      font-size: 13px;
      padding-left: 6px;
      
    }
    .mobile-accounts{
      display: block;
    
    
    }

    .logo-left h1{
      font-size: 18px;
      padding:8px;
      white-space: nowrap;
     

  }
  .header-element{
    padding-top:47px;}


  .middle-header button{
      display:none
      
     
}
.buttons .join-button{
  font-size: 10px;

}



.buttons p{
  font-size:13px;
  padding-right: 20px;
}
.buttons a{
  font-size: 14px;

}


  
.main h1{
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
 
 }
 .main h2{
  font-size: 16px;
  

 
 }

 #features{
  font-size: 14px;
 }
 #get-started h1 {
  font-size: 16px;

}
#get-started p{
  font-size: 15px;


}
#get-started h3{
  font-size: 15px;;
}

#get-started ul{
  font-size: 13px;
}

  }
  #pledge{
    font-size: 15px;

  }
  .social-icons a{
    font-size: 15px;

  }
  #foot{
    font-size: 13px;

  }






  


  